@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
    font-family: 'Vollkorn', serif;
    background: #eee;
    margin: 0;
}

.home-img {
    width: 250px;
    height: 250px;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: underline;
    font-family: 'Mansalva', cursive;
    font-size: 3em;
}